body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;


    .wrapper1 {
        margin: 0;
        max-width: 40%;
        background-color: #001B2B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #eee;
        text-align: center;

    }

    .wrapper2 {
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;

        .checkboxContainer {
            display: flex;
            flex-direction: row;

            p {
                color: #001B2B;
            }
        }

        .textfieldsLogin {

            .inputContainer {
                width: 400px;

                padding: 10px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .errorLabel {
                    color: red;
                    font-size: 12px;
                }

                .inputBox {
                    width: 100%;
                    height: 48px;
                    font-size: large;
                    border-radius: 8px;
                    border: 1px solid grey;
                    padding-left: 8px;
                }

                .inputButton {
                    align-self: center;
                    font-size: 14px;
                    padding: 12px 32px;
                    border: 1px solid #0E2D8B;
                    border-radius: 4px;
                    transition: all 0.4s ease-in-out 0s;
                    background-color: #0E2D8B;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-weight: bold;

                    &:hover {
                        border: 1.5px solid #0E2D8B;
                        background-color: white;
                        color: #0E2D8B;
                        font-weight: 600;
                    }
                }


            }

            .registerContainer {
                text-align: center;

                p {

                    margin-top: 0;

                    color: #001B2B;

                    a {

                        color: #0E2D8B;

                        font-weight: 500;
                        transition: 0.2s ease-in-out 0s;

                        &:hover {
                            color: #db1e32;

                        }
                    }
                }
            }

        }

    }

}

@media (max-width: 770px) {
    .container {
        display: flex;

        .wrapper1 {
            display: none;
        }

        .wrapper2 {
            max-width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;

        .wrapper1 {
            display: none;
        }

        .wrapper2 {
            max-width: 100%;

            .textfieldsLogin {

                .inputContainer {
                    width: 270px;
                    
                    .inputBox {
                        height: 35px;
                        font-size: 14px;
                    }

                    .inputButton {
                        font-size: 12px;
                        padding: 8px 28px;
                    }
                }
            }

        }
    }
}

@media (max-width: 340px) {
    .container {
        display: flex;

        .wrapper1 {
            display: none;
        }

        .wrapper2 {
            max-width: 100%;

            h1 {
                font-size: 35px;
            }

            .registerContainer {
                p {
                    font-size: 12px;
                }
            }
            .inputButton {
                font-size: 12px;
                padding: 8px 28px;
            }
            .textfieldsLogin {

                .inputContainer {
                    width: 180px;

                    .inputBox {
                        font-size: 13px;
                    }
                }


            }
        }
    }
}